.gift {
  width: 120px;
  height: 120px;
  background: linear-gradient(#c62828, #8e0000);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0,0,0,.4);
  transition: transform .4s;
}

.gift::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 120px;
  background: gold;
  left: 50%;
  transform: translateX(-50%);
}

.gift:hover {
  transform: translateY(-10px);
}

.gift.open {
  transform: scale(1.1) rotate(3deg);
}
